// COMPONENT PERSONAL INFO

.personal-info {
    display: flex;
    flex-direction: column;
    min-height: calc(200vh - 100px);
    max-height: calc(200vh - 100px);

    .stage-1-wrapper {
        position: relative;
        display: flex;
        height: calc(100vh - 50px);
    }

    .stage-2-wrapper {
        position: relative;
        display: flex;
        height: calc(100vh - 50px);
    }

    .stage-1,
    .stage-2 {

        position: sticky;
        height: 200px;
        top: 0;
        top: calc(50vh - 75px);
        padding: 0 30px;
        max-width: 500px;

        display: flex;
        align-items: center;
    }
}