@include fadeDown;

@media screen and (min-width: 767px) {
    .homepage {
        max-width: 2000px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .hero {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 8fr 3fr;
        width: 100%;

        .photo-wrapper {
            position: sticky;
            top: 50px;
            height: 100%;
            width: 100%;
        }

        .profile-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: calc(400vh - 200px);

            .personal-wrapper {
                display: grid;
                grid-template-columns: 1fr 1fr;
                height: 100%;
                min-height: calc(200vh - 100px);
                max-height: calc(200vh - 100px);
            }

            .skills-wrapper {
                position: relative;
                height: 100%;
                width: 100%;
            }
        }
    }

    .projects-wrapper {
        position: relative;
        height: 200vh;
    }
}

row {
    flex-direction: row;
}